# application-secrets.properties.template
# Copy this file to application-secrets.properties and fill in the values
spring.datasource.username = 
spring.datasource.password = 
application.security.jwt.secret-key = 